html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

header{
    margin: 0;
    padding: 0;
    height: 90px;
    background-color: #26d0c9;
    color: white;
}

.header_logo{
    font-size: 36px;
    padding: 20px 40px;
    float: left;
}

.header_menu li{
    float: left;
    padding: 33px 20px;
}

.main{
    padding: 100px 80px;
}

.flase h1{
    font-size: 140px;
}

.flase h2{
    font-size: 60px;
}

.flase span{
    color: #ff4a4a;
}

.contents{
    height: 500px;
}

.section-title{
    font-size: 28px;
    border-bottom: 2px solid #dee7ec;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents-item{
    float: left;
    margin-right: 40px;
    font-size: 24px;
}

.contents-item p{
    margin-top: 30px;
}

.contact-form{
    padding-top: 100px;
}

.contact-form input,textarea{
    width: 400px;
    font-size: 18px;
    border: 1px solid #dee7ec;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact-submit{
    color: #889eab;
    background-color: #dee7ec;
}

footer{
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
}

.footer-logo{
    font-size: 32px;
    float: left;
}

.footer-menu{
    float: right;
}

.footer-menu li{
    padding-bottom: 20px;
}